

app = 'twoinflow'
primary_region = 'ams'

[build]

[env]
GIN_MODE = 'release'
PORT = '8080'

[[mounts]]
source = 'workshop_data'
destination = '/data'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
memory = '256mb'
cpus = 1
memory_mb = 256
